.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (min-width: 320px) {
        min-width: 320px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1918px;
        padding-left: 167px;
        padding-right: 167px;
    }
}