<article class="article__card--mobile latest-articles">
  <div class="tumb">
    <picture>
      <source
        srcset="
          /images/living_abroad/desktop/living_abroad_4-desktop@1x.png 1x,
          /images/living_abroad/desktop/living_abroad_4-desktop@2x.png 2x,
          /images/living_abroad/desktop/living_abroad_4-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <img
        class="latest-articles__img"
        src="./images/living_abroad/desktop/living_abroad_4-desktop@1x.png"
        alt="glasses"
      />
    </picture>
  </div>

  <div class="latest-articles__wrapp">
    <h3 class="title--category">Living abroad, This is interesting</h3>
    <h2 class="title--card">“How much do you make?” How to talk about salary with friends?</h2>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
