<article class="article__card article__card--mobile">
  <div class="tumb">
    <picture>
      <source
        srcset="
          /images/thats_interesting/desktop/thats_interesting_2-desktop@1x.png 1x,
          /images/thats_interesting/desktop/thats_interesting_2-desktop@2x.png 2x,
          /images/thats_interesting/desktop/thats_interesting_2-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <img
        class="article__img"
        src="./images/thats_interesting/desktop/thats_interesting_2-desktop@1x.png"
        alt="shore"
      />
    </picture>
  </div>

  <div class="cards-wrap article__wrap">
    <h3 class="title--category">This is interesting, Living abroad</h3>
    <h2 class="title--card">Enjoying safety on the go. Basics of travel insurance. | Spoko Blog</h2>
    <p class="text__card">
      Going on a trip, despite being fun and exciting, is also about solving some specific issues,
      preparing, and arranging a ton of stuff.
    </p>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
