<article class="article__card cards__list--row">
  <div class="tumb">
    <picture>
      <source
        srcset="
          /images/thats_interesting/desktop/thats_interesting_1-desktop@1x.png 1x,
          /images/thats_interesting/desktop/thats_interesting_1-desktop@2x.png 2x,
          /images/thats_interesting/desktop/thats_interesting_1-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <source
        srcset="
          /images/thats_interesting/mobile/thats_interesting_1-mobile@1x.png 1x,
          /images/thats_interesting/mobile/thats_interesting_1-mobile@2x.png 2x,
          /images/thats_interesting/mobile/thats_interesting_1-mobile@3x.png 3x
        "
        media="(min-width: 320px)"
      />
      <img
        class="article__img"
        src="./images/thats_interesting/desktop/thats_interesting_1-desktop@1x.png"
        alt="mobile phone"
      />
    </picture>
  </div>

  <div class="cards-wrap article__wrap">
    <h3 class="title--category">This is interesting, Uncategorized</h3>
    <h2 class="title--card">What is investing and how can I learn to do it right now?</h2>
    <p class="text__card">
      Investment is not just another fancy word from the BBC morning business review.
    </p>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
