<div>
  <ul class="list cards">
    <li class="cards__list">
      <picture>
        <source
          srcset="
            /images/news/desktop/news_1-desktop@1x.jpg 1x,
            /images/news/desktop/news_1-desktop@2x.jpg 2x,
            /images/news/desktop/news_1-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <source
          srcset="
            /images/news/mobile/news_1-mobile@1x.jpg 1x,
            /images/news/mobile/news_1-mobile@2x.jpg 2x,
            /images/news/mobile/news_1-mobile@3x.jpg 3x
          "
          media="(min-width: 320px)"
        />
        <img
          class="article__img"
          src="./images/news/desktop/news_1-desktop@1x.jpg"
          alt="mobile phone"
        />
      </picture>
      <div class="cards-wrap">
        <h3 class="title--category">Spoko news, What’s new?</h3>
        <h2 class="title--card">Paying with Apple Pay in Spoko.app</h2>
        <p class="text__card">
          Send money directly from your saved cards via Apple Pay at Spoko.app With Apple Pay you
          don’t have to enter your card info every time.
        </p>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li class="cards__list">
      <picture>
        <source
          srcset="
            /images/thats_interesting/desktop/thats_interesting_1-desktop@1x.jpg 1x,
            /images/thats_interesting/desktop/thats_interesting_1-desktop@2x.jpg 2x,
            /images/thats_interesting/desktop/thats_interesting_1-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <source
          srcset="
            /images/thats_interesting/mobile/thats_interesting_1-mobile@1x.jpg 1x,
            /images/thats_interesting/mobile/thats_interesting_1-mobile@2x.jpg 2x,
            /images/thats_interesting/mobile/thats_interesting_1-mobile@3x.jpg 3x
          "
          media="(min-width: 320px)"
        />
        <img
          class="article__img"
          src="./images/thats_interesting/desktop/thats_interesting_1-desktop@1x.jpg"
          alt="mobile phone"
        />
      </picture>
      <div class="cards-wrap">
        <h3 class="title--category">This is interesting, Uncategorized</h3>
        <h2 class="title--card">What is investing and how can I learn to do it right now?</h2>
        <p class="text__card">
          Investment is not just another fancy word from the BBC morning business review.
        </p>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li class="cards__list">
      <picture>
        <source
          srcset="
            /images/living_abroad/desktop/living_abroad_2-desktop@1x.jpg 1x,
            /images/living_abroad/desktop/living_abroad_2-desktop@2x.jpg 2x,
            /images/living_abroad/desktop/living_abroad_2-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <source
          srcset="
            /images/living_abroad/mobile/living_abroad_2-mobile@1x.jpg 1x,
            /images/living_abroad/mobile/living_abroad_2-mobile@2x.jpg 2x,
            /images/living_abroad/mobile/living_abroad_2-mobile@3x.jpg 3x
          "
          media="(min-width: 320px)"
        />
        <img
          class="article__img"
          src="./images/living_abroad/desktop/living_abroad_2-desktop@1x.jpg"
          alt="nature"
        />
      </picture>
      <div class="cards-wrap">
        <h3 class="title--category">Living abroad, This is interesting, Uncategorized</h3>
        <h2 class="title--card">Chasing la dolce vita. Pros and cons of moving to Italy.</h2>
        <p class="text__card">Tasty food, lovely seacoast, and eternal dolce vita…</p>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
  </ul>
</div>
