<div>
  <ul class="list cards">
    <li class="cards__list">
      <picture>
        <source
          srcset="
            /images/thats_interesting/desktop/thats_interesting_2-desktop@1x.jpg 1x,
            /images/thats_interesting/desktop/thats_interesting_2-desktop@2x.jpg 2x,
            /images/thats_interesting/desktop/thats_interesting_2-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <img
          class="article__img"
          src="./images/thats_interesting/desktop/thats_interesting_2-desktop@1x.jpg"
          alt="shore"
        />
      </picture>
      <div class="cards-wrap">
        <h3 class="title--category">This is interesting, Living abroad</h3>
        <h2 class="title--card">
          Enjoying safety on the go. Basics of travel insurance. | Spoko Blog
        </h2>
        <p class="text__card">
          Going on a trip, despite being fun and exciting, is also about solving some specific
          issues, preparing, and arranging a ton of stuff.
        </p>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li class="cards__list">
      <picture>
        <source
          srcset="
            /images/thats_interesting/desktop/thats_interesting_3-desktop@1x.jpg 1x,
            /images/thats_interesting/desktop/thats_interesting_3-desktop@2x.jpg 2x,
            /images/thats_interesting/desktop/thats_interesting_3-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <img
          class="article__img"
          src="./images/thats_interesting/desktop/thats_interesting_3-desktop@1x.jpg"
          alt="glasses"
        />
      </picture>
      <div class="cards-wrap">
        <h3 class="title--category">This is interesting, Living abroad</h3>
        <h2 class="title--card">Financial anxiety. How can you battle one? | Spoko Blog</h2>
        <p class="text__card">
          Money has the unique quality to bring us the feeling of simultaneous comfort and stress.
        </p>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
  </ul>
</div>
