<article class="article__card billboard__container">
  <div class="tumb billboard__tumb">
    <picture>
      <source
        srcset="
          /images/news/desktop/news_2-desktop@1x.png 1x,
          /images/news/desktop/news_2-desktop@2x.png 2x,
          /images/news/desktop/news_2-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <source
        srcset="
          /images/news/mobile/news_2-mobile@1x.png 1x,
          /images/news/mobile/news_2-mobile@2x.png 2x,
          /images/news/mobile/news_2-mobile@3x.png 3x
        "
        media="(min-width: 320px)"
      />
      <img
        class="article__img billboard__img"
        src="./images/news/desktop/news_2-desktop@1x.png"
        alt="mobile phone"
      />
    </picture>
  </div>

  <div class="article__wrap billboard__wrap">
    <h3 class="title--category">Spoko news, This is interesting, What’s new?</h3>
    <h2 class="title--card">Payment with Google Pay at Spoko.app</h2>
    <p class="text__card">
      Send money directly from your saved cards via Google Pay at Spoko.app With Google Pay you
      don’t have to enter your card info every time.
    </p>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
