<article class="article__card cards__list--row">
  <div class="tumb">
    <picture class="article__picture">
      <source
        srcset="
          /images/living_abroad/desktop/living_abroad_2-desktop@1x.png 1x,
          /images/living_abroad/desktop/living_abroad_2-desktop@2x.png 2x,
          /images/living_abroad/desktop/living_abroad_2-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <source
        srcset="
          /images/living_abroad/mobile/living_abroad_2-mobile@1x.png 1x,
          /images/living_abroad/mobile/living_abroad_2-mobile@2x.png 2x,
          /images/living_abroad/mobile/living_abroad_2-mobile@3x.png 3x
        "
        media="(min-width: 320px)"
      />
      <img
        class="article__img"
        src="./images/living_abroad/desktop/living_abroad_2-desktop@1x.png"
        alt="nature"
      />
    </picture>
  </div>

  <div class="cards-wrap article__wrap">
    <h3 class="title--category">Living abroad, This is interesting, Uncategorized</h3>
    <h2 class="title--card">Chasing la dolce vita. Pros and cons of moving to Italy.</h2>
    <p class="text__card">Tasty food, lovely seacoast, and eternal dolce vita…</p>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
