<article class="article--main-card article__card">
  <div class="tumb picture__wrapper">
    <picture>
      <source
        srcset="
          /images/living_abroad/desktop/living_abroad_1-desktop@1x.png 1x,
          /images/living_abroad/desktop/living_abroad_1-desktop@2x.png 2x,
          /images/living_abroad/desktop/living_abroad_1-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <source
        srcset="
          /images/living_abroad/mobile/living_abroad_1-mobile@1x.png 1x,
          /images/living_abroad/mobile/living_abroad_1-mobile@2x.png 2x,
          /images/living_abroad/mobile/living_abroad_1-mobile@3x.png 3x
        "
        media="(min-width: 320px)"
      />
      <img
        class="article__img--main-card article__img"
        src="./images/living_abroad/desktop/living_abroad_1-desktop@1x.png"
        alt="croissant"
      />
    </picture>
  </div>

  <div class="article__wrap article__wrap--main-card">
    <h3 class="title--category">Living abroad, This is interesting</h3>
    <h2 class="title--card">See Paris and stay. Pros and cons of moving to France.</h2>
    <p class="text__card">
      Send more, spend less with our excellent rates. Count on money-saving exchange rates.
      <span class="text__desctop"
        >You’ll find Spoko cheaper than sending money abroad with traditional banks and other
        financial services</span
      >
    </p>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
