<article class="article--main-card">
  <picture class="article__picture--main-card">
    <source
      srcset="
        /images/living_abroad/desktop/living_abroad_1-desktop@1x.jpg 1x,
        /images/living_abroad/desktop/living_abroad_1-desktop@2x.jpg 2x,
        /images/living_abroad/desktop/living_abroad_1-desktop@3x.jpg 3x
      "
      media="(min-width: 1440px)"
    />
    <source
      srcset="
        /images/living_abroad/mobile/living_abroad_1-mobile@1x.jpg 1x,
        /images/living_abroad/mobile/living_abroad_1-mobile@2x.jpg 2x,
        /images/living_abroad/mobile/living_abroad_1-mobile@3x.jpg 3x
      "
      media="(min-width: 320px)"
    />
    <img src="./images/living_abroad/desktop/living_abroad_1-desktop@1x.jpg" alt="croissant" />
  </picture>
  <div class="article__wrap--main-card">
    <h3 class="title--category">Living abroad, This is interesting</h3>
    <h2 class="title--card">See Paris and stay. Pros and cons of moving to France.</h2>
    <p class="text__card">
      Send more, spend less with our excellent rates. Count on money-saving exchange rates. You’ll
      find Spoko cheaper than sending money abroad with traditional banks and other financial
      services
    </p>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
