<article class="article__card article__card--mobile">
  <div class="tumb">
    <picture>
      <source
        srcset="
          /images/uncategorized/desktop/uncategorized_1-desktop@1x.png 1x,
          /images/uncategorized/desktop/uncategorized_1-desktop@2x.png 2x,
          /images/uncategorized/desktop/uncategorized_1-desktop@3x.png 3x
        "
        media="(min-width: 1300px)"
      />
      <img
        class="article__img"
        src="./images/uncategorized/desktop/uncategorized_1-desktop@1x.png"
        alt="glasses"
      />
    </picture>
  </div>

  <div class="article__wrap">
    <h3 class="title--category">Uncategorized</h3>
    <h2 class="title--card">Saving money – how and why?</h2>
    <p class="text__signature">By Spoko 21.03.2022</p>
  </div>
</article>
