<div class="categories">
  <h2 class="categories__title">Categories</h2>
  <ul class="categories__list list">
    <li class="categories__item"><a href="/">About us </a></li>
    <li class="categories__item"><a href="/">Living abroad</a></li>
    <li class="categories__item"><a href="/">Promotions and discounts</a></li>
    <li class="categories__item"><a href="/">Spoko news</a></li>
    <li class="categories__item"><a href="/">What’s new?</a></li>
    <li class="categories__item"><a href="/">This is interesting</a></li>
    <li class="categories__item"><a href="/">Uncategorized</a></li>
  </ul>
</div>
