<section>
  <h2>Latest articles</h2>
  <ul>
    <li>
      <img src="" alt="" />
      <div>
        <h3 class="title--category">Living abroad, This is interesting</h3>
        <h2 class="title--card">Yes or pass? Pros and cons of moving to Germany</h2>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <div>
        <h3 class="title--category">Living abroad, This is interesting</h3>
        <h2 class="title--card">“How much do you make?” How to talk about salary with friends?</h2>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li>
      <img src="" alt="" />
      <div>
        <h3 class="title--category">Uncategorized</h3>
        <h2 class="title--card">Saving money – how and why?</h2>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
  </ul>
  <button>
    <span> View more</span>
    <svg class="">
      <use href="../images/icons/symbol-defs.svg#icon-Vector-537"></use>
    </svg>
  </button>
</section>
