<section>
  <h2>Latest articles</h2>
  <ul class="list">
    <li>
      <picture>
        <source
          srcset="
            /images/living_abroad/desktop/living_abroad_3-desktop@1x.jpg 1x,
            /images/living_abroad/desktop/living_abroad_3-desktop@2x.jpg 2x,
            /images/living_abroad/desktop/living_abroad_3-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <img
          class=""
          src="./images/living_abroad/desktop/living_abroad_3-desktop@1x.jpg"
          alt="glasses"
        />
      </picture>
      <div>
        <h3 class="title--category">Living abroad, This is interesting</h3>
        <h2 class="title--card">Yes or pass? Pros and cons of moving to Germany</h2>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li>
      <picture>
        <source
          srcset="
            /images/living_abroad/desktop/living_abroad_4-desktop@1x.jpg 1x,
            /images/living_abroad/desktop/living_abroad_4-desktop@2x.jpg 2x,
            /images/living_abroad/desktop/living_abroad_4-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <img
          class="article__img"
          src="./images/living_abroad/desktop/living_abroad_4-desktop@1x.jpg"
          alt="glasses"
        />
      </picture>
      <div>
        <h3 class="title--category">Living abroad, This is interesting</h3>
        <h2 class="title--card">“How much do you make?” How to talk about salary with friends?</h2>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
    <li>
      <picture>
        <source
          srcset="
            /images/uncategorized/desktop/uncategorized_1-desktop@1x.jpg 1x,
            /images/uncategorized/desktop/uncategorized_1-desktop@2x.jpg 2x,
            /images/uncategorized/desktop/uncategorized_1-desktop@3x.jpg 3x
          "
          media="(min-width: 1300px)"
        />
        <img
          class="article__img"
          src="./images/uncategorized/desktop/uncategorized_1-desktop@1x.jpg"
          alt="glasses"
        />
      </picture>
      <div>
        <h3 class="title--category">Uncategorized</h3>
        <h2 class="title--card">Saving money – how and why?</h2>
        <p class="text__signature">By Spoko 21.03.2022</p>
      </div>
    </li>
  </ul>
  <button type="button">
    <span> View more</span>
    <svg class="">
      <use href="/images/icons/symbol-defs.svg#icon-Vector-537"></use>
    </svg>
  </button>
</section>
