<section class="navigation">
  <h1 class="heading">Blog</h1>
  <ul class="navigation__list list">
    <li class="navigation__item">
      <a class="navigation__link navigation__title" href="/">SPOKO news</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link navigation__title" href="/">About Spoko</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link navigation__title" href="/">Promotions and discounts</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link navigation__title" href="/">Living abroad</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link navigation__title" href="/">That’s interesting</a>
    </li>
    <li class="navigation__item">
      <a class="navigation__link navigation__title" href="/">Personal Finances</a>
    </li>
  </ul>
</section>
