.section__categories{
display: flex;


}
.categories{    
    max-width: 468px;
    margin-left: 22px;
    padding-top: 59px;
    // padding-bottom: 78px;
    padding-left: 64px;
    padding-right: 54px;
}

.categories__title{
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.1;
    
}

.categories__item{
    display: inline-block;
    margin-right: 21px;
    margin-bottom: 21px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 26px;
    padding-right: 20px;
    border-radius: 12px;
    color: var(--color-link-categories);
    background-color: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.05);
}