.heading{
font-family: 'Futura PT Book';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 1.1;
color: var(--color-title);
opacity: 1;
margin-bottom: 0;
letter-spacing: 0.225287px;

@media screen and (min-width: 1300px) {
    font-size: 100px;
}
}

.navigation__title{
font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.06;
    color: var(--color-text-navigation);

    @media screen and (min-width: 1300px) {
        font-size: 24px;
        line-height: 1.34;
    }
}

.title--category{
    font-family: 'Inter';   
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;
    text-transform: capitalize;
    color: var(--color-category);

     @media screen and (min-width: 1300px) {
        font-size: 18px;
    }
}

.title--card{
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;

     @media screen and (min-width: 1300px) {
        font-size: 40px;
    }
   }

.text__card{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;

@media screen and (min-width: 1300px) {
    font-size: 18px;
}    
}

.text__signature{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;
    opacity: 0.7;

    @media screen and (min-width: 1300px) {
        font-size: 18px;
    }
}

.text__desctop{
    display: none;

    @media screen and (min-width: 780px) {
        display: inline;
    }
}