.navigation{
    padding-top: 158px;
    padding-bottom: 91px;
    // padding-left: 135px;
    // padding-right: 135px;
    text-align: center;
}

.navigation__list{
    display: flex;   
    justify-content: space-around;
    margin-top: 109px;
    margin-bottom: 81px;
}


.navigation__item{
padding-top: 10px;
padding-bottom: 10px;
}

.navigation__link{
    &:hover,
    &:focus{
        color:var(--color-title);
    }
}
